.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.shipping-options label,
.payment-methods label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.shipping-options input[type="radio"],
.payment-methods input[type="radio"] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.shipping-options input[type="radio"]:checked,
.payment-methods input[type="radio"]:checked {
  border-color: #7DC23B;
  background-color: #7DC23B;
}


.shipping-options label span,
.payment-methods label span {
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 20px); 
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}


.sidebyside {
  display: flex;
  justify-content: space-between;
}

.fjernbtn{
  width: calc(25% - 20px); 
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #7DC23B;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-now-button{
  width: calc(100% - 20px); 
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.pay-now-button {
  background-color: #7DC23B;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #008000;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.item-quantity input {
  width: 60px;
}

@media screen and (max-width: 768px) {
  .checkout-container {
    padding: 10px;
  }
}


