.produkter-index{
  width: 100%;
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.produkt-kort {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produkt-bilde {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.produkt-navn {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.produkt-pris {
  font-size: 16px;
  color: #3498db;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #555;
}
